
.layer {
    position : absolute ;
    width : 100% ;
    height : 100% ;
    background : rgb(0, 0, 0 , .4);
    left : 0px ;
    top : 0px ;
}

.title {
    margin : 0px 0px 35px ;
    position : relative ;
    text-align : center ;
}

.title::after {
    content: "";
    position: absolute;
    width: 160px;
    height: 2px;
    background: #333;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
}

.title::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(11px);
    bottom: -12px;
    border-radius: 50%;
    border: 2px solid #333;
    background: white;
    z-index: 3;
}

.title + p {
    text-align: center;
    max-width: 500px;
    line-height: 1.5;
    color: var(--word-color);
    margin: auto;
    margin-bottom : 30px ;
    font-size : 20px
}
